.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.bouldersButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.insertButton {
  background-color: #28a745 !important;
}

.insertButton:hover {
  background-color: #218838 !important;
}

.logoutButton {
  background-color: #dc3545 !important;
  transition: background 0.3s, transform 0.2s;
}

.logoutButton:hover {
  background-color: #c82333 !important;
  transform: scale(1.05) !important;
}
