.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.bouldersButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.wrapper .insertButton {
  background-color: #28a745;
}

.wrapper .insertButton:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.wrapper .logoutButton {
  background-color: #dc3545;
}

.wrapper .logoutButton:hover {
  background-color: #c82333;
  transform: scale(1.05);
}
